@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom gradient background */
.gradient-background {
  background: linear-gradient(135deg, #002b4e, #004060, #006977);
}

/* CSS grid for grid-overlay */
.grid-overlay {
  display: grid;
  grid-template-columns: repeat(6, 2fr);
  grid-template-rows: repeat(6, 2fr);
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll {
  animation: scroll 20s linear infinite;
}


.bg-banner {
  background-color: #003B47CC;
}
.bg-headings {
  background-color: #EAECF0;
}
