@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom gradient background */
.gradient-background {
  background: linear-gradient(135deg, #002b4e, #004060, #006977);
}

/* CSS grid for grid-overlay */
.grid-overlay {
  display: grid;
  grid-template-columns: repeat(6, 2fr);
  grid-template-rows: repeat(6, 2fr);
}

.marquee {
  overflow: hidden;
  display: flex;
}

.marquee-content {
  display: flex;
  animation: scroll 15s linear infinite;
  min-width: 200%;
}

@keyframes scroll {
  from {
      transform: translateX(0);
  }
  to {
      transform: translateX(-50%);
  }
}